/* src/components/Settings.css */

.settings-container {
    padding: 20px;
  }


  
  .account {
    text-align: center; /* Center the text inside the account container */
  }
  
  h2 {
    font-size: 2rem;
    color: #333; /* Optional: Styling for the heading */
  }
  
  
  .button-container {
    display: flex;
    margin-bottom: 20px;
    margin-left: 5%;
  }
  
  button {
    margin-right: 10px;
    /* margin-left: 5%; */
    padding: 10px;
    background-color: #ffffff;
    color: #6a4caf;
    border: none;
    cursor: pointer;
    font-size:large;
    
  }
  
  button.active {
    background-color: #ffffff;
  }
  
  button:hover {
    background-color: #ffffff;
  }
  
  .form-container {
    margin-top: 20px;
    align-items: center;
    margin-right: 7% ;
    margin-left: 5%;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group.inline {
    display: flex;
    justify-content: space-between;
  }

  .inline {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  

  input,
  textarea {
  width: 100%;  
  padding: 8px;
  margin-top: 5px;
  height: 26px;

 }

  

  textarea {
    height: 100px;
    
  }

  .half-width {
    width: 48%;  /* Adjust width to fit two fields in one row */
  }
  
  button[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #6a4caf;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button[type="submit"]:hover {
    background-color: #5c3d94;
  }
  